<h1>
  User #<%= @the_user.id %> details
</h1>

<article>
  <div>
    <a href="/users">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_user/<%= @the_user.id %>">
      Delete user
    </a>
  </div>
  <dl>
    <dt>
      Email
    </dt>
    <dd>
      <%= @the_user.email %>
    </dd>

    <dt>
      Password digest
    </dt>
    <dd>
      <%= @the_user.password_digest %>
    </dd>

    <dt>
      Time zone
    </dt>
    <dd>
      <%= @the_user.time_zone %>
    </dd>

    <dt>
      Prompt frequency
    </dt>
    <dd>
      <%= @the_user.prompt_frequency %>
    </dd>

    <dt>
      Prompt channel
    </dt>
    <dd>
      <%= @the_user.prompt_channel %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_user.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_user.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit user
    </h2>
  </header>

  <form action="/modify_user/<%= @the_user.id %>"  method="post" >
    <div>
      <label for="email_box">
        Email
      </label>

      <input type="text" id="email_box" name="query_email" value="<%= @the_user.email %>">
    </div>

    <div>
      <label for="password_digest_box">
        Password digest
      </label>

      <input type="text" id="password_digest_box" name="query_password_digest" value="<%= @the_user.password_digest %>">
    </div>

    <div>
      <label for="time_zone_box">
        Time zone
      </label>

      <input type="text" id="time_zone_box" name="query_time_zone" value="<%= @the_user.time_zone %>">
    </div>

    <div>
      <label for="prompt_frequency_box">
        Prompt frequency
      </label>

      <input type="text" id="prompt_frequency_box" name="query_prompt_frequency" value="<%= @the_user.prompt_frequency %>">
    </div>

    <div>
      <label for="prompt_channel_box">
        Prompt channel
      </label>

      <input type="text" id="prompt_channel_box" name="query_prompt_channel" value="<%= @the_user.prompt_channel %>">
    </div>

    <button type="submit">
      Update user
    </button>
  </form>
</article>

<hr>
