<div class="card auth-card">
  <h1 class="page-title">Create your account</h1>

  <% if @user.errors.any? %>
    <div class="flash flash--alert">
      <% @user.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @user, url: users_path do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>

    <div class="btn-row">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
      <%= link_to "Sign in", sign_in_path, class: "btn btn-ghost" %>
    </div>
  <% end %>
</div>
